* {
    box-sizing: border-box;
    margin: 0;
    pading: 0;

}
body {
    display: flex;
    align-items: center;
    justify-content: 100vh;
    background-color: blue;
}

.window {
    display: flex;
    justify-items: center;
    border: solid black;
    width: 75%;
    background-color: white;
    justify-content: center;
}

#rocketShip {
    width: 80%;
    max-width: 400px;
    height: 60dvh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border: solid black;
    margin: 20px;
}
#guess {
    margin-top: 30px;
    padding: 20px;
    border: solid black;
    text-align: center;
}
img {
    max-width: 100%;
    margin-top: 20px;
}
.container {
    display: flex;
    position: relative;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

#wordContainer {
    width: 75%;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    border: solid black;
    font-size: 3rem;
}

#keyboard {
    width: 75%;
    display: flex;
    justify-content: center;
    justify-items: center;
}