
* {
    box-sizing: border-box;
    margin: 0;
    pading: 0;

}
body {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    max-width: 800px;
    margin-top: 1%;
    background: white;
    gap: 20px;
    align-items: flex-end;
    padding: 40px;
    border-radius: 10px;
}

#rocketShipBox {
    max-with: 100%;
}

#rocketShipBox img {
   max-width: 300px;
}

#rocketShipBox h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 20px;

}
.playbox {
    text-align: center;
    justify-content: center;
    margin-bottom: 15px;
}


#wordContainer {
    justify-content: space-between;
    font-size: 2rem;
    display: flex;
    gap: 10px;
    list-style: none;
    margin-right: auto;
}

#wordContainer ul {
    margin-right: 20px;
}
#wordContainer li {
    list-style-type: none;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    margin: 5px;
    text-transform: uppercase;
}

.keyboard {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
}
.singleBtn {
    padding: 10px;
    text-transform: uppercase;
}