
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    background-color: black;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}
.container {
    display: flex;
    justify-content: center;
    position: absolute;
    justify-items: center;
    background: white;
    gap: 20px;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
}

#rocketShipBox {
    text-align: center;
    max-width: 300px;
    display: column;
}

#rocketShipBox img {
    max-width: 75%;
    height: auto;
}

#rocketShipBox h1 {
    font-size: 2rem;
    max-width: 300px;
    text-align: center;
    margin-top: 20px;
    min-width: 181px;

}
.playbox {
    text-align: center;
    margin: 20px;
}


#wordContainer {
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    display: flex;
    gap: 10px;
    list-style: none;
    max-width: 100%;
    margin-right: 0px;
    min-width: 305px;
}

#wordContainer ul {
    max-width: 300px;
    border-sizing: border-box;

}
#wordContainer li {
    list-style-type: none;
    flex: none;
    max-width: 300px;
    justify-items: center;
    justify-content: space-between;
    margin: 5px;
    text-transform: uppercase;
}

.keyboard {
    justify-content: center;
    justify-items: center;
    display: flex;
    max-width: 300px;
    flex-wrap: wrap;
    min-width: 300px;
    margin-top: 5%;
}
.singleBtn {
    padding: 10px;
    text-transform: uppercase;
}
h2 {
    font-size: 2rem;
    margin-bottom: 60px;
    text-decoration: underline;
}
p.guess-count {
    justify-content: right;
    align-items: right;
    text-align: right;
    font-weight: 900;
}
h4 {
    margin: 0;
    text-align: center;
}

.singleBtn:hover {
    background-color: BLACK;
    color: white;
    border: none;
    display: inline-block;

}
p.guess-count {
    text-align: center;
}
.lives {
    flex: none;
    justify-content: left;
    justify-items: left;
    width: 15%;
}
.guess-container {
    display: flex;
    justify-content: left;
}